<!--<ion-header>
  <ion-toolbar>
    <ion-title>register-form-location</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <h1 class="ion-text-center">Location</h1>
  <ion-item class="ion-no-padding" button="false" lines="none">
    <label mode="ios">Country</label>
    <ion-select mode="ios" placeholder="Select">
      <ion-select-option value="f" class="select-interface-option">USA</ion-select-option>
      <ion-select-option value="m" class="select-interface-option">CHINA</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item class="ion-no-padding" button="false" lines="none">
    <label mode="ios">State</label>
    <ion-select mode="ios" placeholder="Select">
      <ion-select-option value="f" class="select-interface-option">Female</ion-select-option>
      <ion-select-option value="m" class="select-interface-option">Male</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item class="ion-no-padding" button="false" lines="none">
    <label mode="ios">City</label>
    <ion-select mode="ios" placeholder="Select">
      <ion-select-option value="f" class="select-interface-option">Female</ion-select-option>
      <ion-select-option value="m" class="select-interface-option">Male</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button class="btn_next" mode="ios">Next</ion-button>
  <ion-button class="btn_skip" mode="ios">Skip step ></ion-button>
</ion-content>
