<!--<ion-header>
  <ion-toolbar>
    <ion-title>register-form-yourself</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <h1 class="ion-text-center">Tell us about yourself</h1>
  <ion-textarea placeholder="About me" mode="ios"></ion-textarea>
  <h2 class="ion-text-center ">Personality</h2>
  <ion-item class="ion-no-padding" button="false" lines="none">
    <label mode="ios">Interested</label>
    <ion-select mode="ios" placeholder="Select">
      <ion-select-option value="f" class="select-interface-option">USA</ion-select-option>
      <ion-select-option value="m" class="select-interface-option">CHINA</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item class="ion-no-padding" button="false" lines="none">
    <label mode="ios">Sexually</label>
    <ion-select mode="ios" placeholder="Select">
      <ion-select-option value="f" class="select-interface-option">USA</ion-select-option>
      <ion-select-option value="m" class="select-interface-option">CHINA</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item class="ion-no-padding" button="false" lines="none">
    <label mode="ios">Religion</label>
    <ion-select mode="ios" placeholder="Select">
      <ion-select-option value="f" class="select-interface-option">USA</ion-select-option>
      <ion-select-option value="m" class="select-interface-option">CHINA</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item class="ion-no-padding" button="false" lines="none">
    <label mode="ios">Orientation</label>
    <ion-select mode="ios" placeholder="Select">
      <ion-select-option value="f" class="select-interface-option">USA</ion-select-option>
      <ion-select-option value="m" class="select-interface-option">CHINA</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item class="ion-no-padding" button="false" lines="none">
    <label mode="ios">Education</label>
    <ion-select mode="ios" placeholder="Select">
      <ion-select-option value="f" class="select-interface-option">USA</ion-select-option>
      <ion-select-option value="m" class="select-interface-option">CHINA</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item class="ion-no-padding" button="false" lines="none">
    <label mode="ios">Children</label>
    <ion-select mode="ios" placeholder="Select">
      <ion-select-option value="f" class="select-interface-option">USA</ion-select-option>
      <ion-select-option value="m" class="select-interface-option">CHINA</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item class="ion-no-padding" button="false" lines="none">
    <label mode="ios">Relationship</label>
    <ion-select mode="ios" placeholder="Select">
      <ion-select-option value="f" class="select-interface-option">USA</ion-select-option>
      <ion-select-option value="m" class="select-interface-option">CHINA</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item class="ion-no-padding" button="false" lines="none">
    <label mode="ios">Occupation</label>
    <ion-select mode="ios" placeholder="Select">
      <ion-select-option value="f" class="select-interface-option">USA</ion-select-option>
      <ion-select-option value="m" class="select-interface-option">CHINA</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button class="btn_next" mode="ios">Next</ion-button>
  <ion-button class="btn_skip" mode="ios">Skip step ></ion-button>
</ion-content>
