<!--<ion-header>
  <ion-toolbar>
    <ion-title>checkout</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-card class="card-titulo">
    Your purchase:
  </ion-card>
  <ion-card  class="card-form">
    <div class="div-item">
      <ion-label class="label-nombre">Premium membership -1 month</ion-label>
      <ion-label class="label-precio">$50.00</ion-label>
    </div>
    <div class="div-item">
      <ion-label class="label-nombre">5 day photo feed boost</ion-label>
      <ion-label class="label-precio">$12.00</ion-label>
    </div>
    <div class="div-item">
      <ion-label class="label-nombre">You will be billed for a total of:</ion-label>
      <ion-label class="label-precio-total">$62.00</ion-label>
    </div>
    <div class="div-linea"></div>
    <ion-label class="label-color">Name on card</ion-label>
    <ion-item class="item-campos" lines="none">
      <ion-input mode="ios" type="text" class="input-item" placeholder="Name on card"></ion-input>
    </ion-item>
    <div class="div-campo">
      <div class="div-code">
        <ion-label class="label-color">Zip code</ion-label>
        <ion-item class="item-campos" lines="none">
          <ion-input mode="ios" type="text" class="input-item ion-text-center" placeholder="XXXXX"></ion-input>
        </ion-item>
      </div>
      <div class="div-card">
        <ion-label class="label-color">Card Number</ion-label>
        <ion-item class="item-campos" lines="none">
          <ion-input mode="ios" type="text" class="input-item" placeholder="XXXX XXXX XXXX XXXX"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="div-campo">
      <div class="div-expiration">
        <ion-label class="label-color">Expiration</ion-label>
        <div class="div-input">
          <div class="item-dia">
            <ion-item class="item-campos" lines="none" style="margin-bottom: 0px;">
              <ion-input mode="ios" type="text" class="input-item ion-text-center" placeholder="MM"></ion-input>
            </ion-item>
          </div>
          /
          <div class="item-mes">
            <ion-item class="item-campos" lines="none" style="margin-bottom: 0px;">
              <ion-input mode="ios" type="text" class="input-item ion-text-center" placeholder="YY"></ion-input>
            </ion-item>
          </div>
        </div>
      </div>
      <div class="div-cvv2">
        <ion-label class="label-color label-cvv">CVV2</ion-label>
        <ion-item class="item-campos" lines="none" style="margin-bottom: 0px;">
          <ion-input mode="ios" type="text" class="input-item ion-text-center" placeholder="XXX"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="ion-text-center div-bootom">
      <img src="assets/img/Imagen-18.png" class="img-logo-genral">
    </div>
    <ion-button mode="ios">Pay now</ion-button>
  </ion-card>
  <p class="ion-text-center p-descripcion">
    your subscription will automatically renew monthly, for the same price and package length until you cancel via your account settings. By subscribing, you authorize us to charge your card now and upon each automatic renewal. Payment details are discreet and will only show as “Company Name” on your card statements. We do not offer refunds. For more details make sure te read <span>terms and conditions</span>.
  </p>
</ion-content>
