<!--<ion-header>
  <ion-toolbar>
    <ion-title>inbox</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <h1 class="ion-text-center">Conversatoins</h1>
  <ion-card class="card-buscador">
    <ion-input placeholder="Search for a sugar user" type="search" class="input-buscador"></ion-input>
    <ion-icon name="search-sharp" class="icon-buscador"></ion-icon>
  </ion-card>
  <div class="div-show-select">
    <h6 class="h6-show">Show</h6>
    <ion-card class="card-select">
      <ion-icon name="mail-outline" class="icon-mensaje"></ion-icon>
      <ion-select placeholder="All conversations" mode="ios">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-card>
  </div>
  <ion-item class="item-inbox" lines="none">
    <div class="div-linea"></div>
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <div class="div-datos">
      <ion-label class="nombre-label">Anna, 30</ion-label>
      <p class="descripcion-label">Lorem ipsum dolor sit amet, consetetur...</p>
    </div>
  </ion-item>
  <ion-item class="item-inbox" lines="none">
    <div class="div-linea"></div>
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <div class="div-datos">
      <ion-label class="nombre-label">Anna, 30</ion-label>
      <p class="descripcion-label">Lorem ipsum dolor sit amet, consetetur...</p>
    </div>
  </ion-item>
  <ion-item class="item-inbox" lines="none">
    <div class="div-linea"></div>
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <div class="div-datos">
      <ion-label class="nombre-label">Anna, 30</ion-label>
      <p class="descripcion-label">Lorem ipsum dolor sit amet, consetetur...</p>
    </div>
  </ion-item>
  <ion-item class="item-inbox" lines="none">
    <div class="div-linea"></div>
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <div class="div-datos">
      <ion-label class="nombre-label">Anna, 30</ion-label>
      <p class="descripcion-label">Lorem ipsum dolor sit amet, consetetur...</p>
    </div>
  </ion-item>
  <ion-item class="item-inbox" lines="none">
    <div class="div-linea"></div>
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <div class="div-datos">
      <ion-label class="nombre-label">Anna, 30</ion-label>
      <p class="descripcion-label">Lorem ipsum dolor sit amet, consetetur...</p>
    </div>
  </ion-item>
  <ion-item class="item-inbox" lines="none">
    <div class="div-linea"></div>
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <div class="div-datos">
      <ion-label class="nombre-label">Anna, 30</ion-label>
      <p class="descripcion-label">Lorem ipsum dolor sit amet, consetetur...</p>
    </div>
  </ion-item>
</ion-content>
<ion-footer class="ion-no-border" mode="ios">
  <ion-button mode="ios" class="btn-footer btn-footer-right">
    <img src="assets/img/iconos_Magnifying-glass.png" class="img-buscador-footer">
  </ion-button> 
  <ion-button mode="ios" class="btn-footer btn-footer-right">
    <img src="assets/img/iconos_Inbox.png" class="img-chat-footer">
    <ion-badge class="badge-chat" mode="ios">99</ion-badge>
  </ion-button> 
  <ion-button mode="ios" class="btn-footer btn-footer-right">
    <img src="assets/img/iconos_Upgrade.png" class="img-corona-footer">
  </ion-button> 
  <ion-button mode="ios" class="btn-footer btn-footer-right">
    <img src="assets/img/iconos_favirtos.png" class="img-corazon-footer">
  </ion-button> 
  <ion-button mode="ios" class="btn-footer">
    <img src="assets/img/iconos_Profile.png" class="img-persona-footer">
  </ion-button> 
</ion-footer>
