@font-face{
    font-family: AvenirHeavy;
    src : url('/assets/font/Avenir Heavy.ttf')
}
@font-face{
    font-family: AvenirMedium;
    src : url('/assets/font/Avenir-Medium.ttf')
}
ion-content
{
    --padding-start: 1.25rem;
    --padding-end: 1.25rem;
    --padding-top: 1.25rem;
}
h1
{
    color: #333333;
    font-family: AvenirHeavy;
    margin-bottom: 40px;
}
.btn_blanco
{
    --border-radius: 8px;
    --background: #FFFFFF;
    --border-color: #E6E6E6;
    --color: #555555;
    font-family: AvenirMedium;
    --border-style: solid;
    --border-width: 1px;
    margin-right: 5px;
    --background-activated:  #FFFFFF;
}
.btn_activo
{
    --border-radius: 8px;
    --background: #77BDF0;
    --border-color: #FFFFFF;
    --color: #FFFFFF;
    font-family: AvenirMedium;
    --border-style: solid;
    --border-width: 1px;
    margin-right: 5px;
    --background-activated:  #77BDF0;
}
.btn_next
{
    --background: #77BDF0;
    --color: #ffffff;
    font-family: AvenirHeavy;
    width: 90%;
    margin-left: 5%;
    margin-top: 1.5625rem;
    --background-activated: #77BDF0;
    --color-activated: #ffffff;
}
.btn_skip
{
    --color: #555555;
    font-family: AvenirMedium;
    --background: transparent;
    --box-shadow: none;
    --background-activated: transparent;
    --color-activated: #555555;
    width: 30%;
    margin-left: 35%;
    margin-top: 1.875rem;
    margin-bottom: 3.125rem;
    text-decoration: underline;
}
@media (min-width: 411px)
{
  ion-content
  {
    --padding-start: 1.875rem;
    --padding-end: 1.875rem;
  }
}
@media (min-width: 480px)
{
  ion-content
  {
    --padding-start: 2.5rem;
    --padding-end: 2.5rem;
    --padding-top: 3.125rem;
  }
}
@media (min-width: 640px)
{
  ion-content
  {
    --padding-start: 7.5rem;
    --padding-end: 7.5rem;
  }
}
@media (min-width: 768px)
{
  ion-content
  {
    --padding-start: 12.5rem;
    --padding-end: 12.5rem;
    --padding-top: 6.25rem;
  }
}
@media (min-width: 1024px)
{
  ion-content
  {
    --padding-start: 18.75rem;
    --padding-end: 18.75rem;
    --padding-top: 18.75rem;
  }
}