<!--<ion-header>
  <ion-toolbar>
    <ion-title>register-form-interests</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <h1 class="ion-text-center">I am into…</h1>
  <ion-button class="btn_activo" mode="ios">No strings attached</ion-button>
  <ion-button class="btn_blanco" mode="ios">Open relationship</ion-button>
  <ion-button class="btn_blanco" mode="ios">Romance</ion-button>
  <ion-button class="btn_blanco" mode="ios">No strings attached</ion-button>
  <ion-button class="btn_blanco" mode="ios">Traveling</ion-button>
  <ion-button class="btn_blanco" mode="ios">Fine dining</ion-button>
  <ion-button class="btn_blanco" mode="ios">No strings attached</ion-button>
  <ion-button class="btn_blanco" mode="ios">No strings attached</ion-button>
  <ion-button class="btn_blanco" mode="ios">Casual dating</ion-button>
  <ion-button class="btn_blanco" mode="ios">Open relationship</ion-button>
  <ion-button class="btn_blanco" mode="ios">No strings attached</ion-button>
  <ion-button class="btn_blanco" mode="ios">Romance</ion-button>
  <ion-button class="btn_blanco" mode="ios">Friendship</ion-button>
  <ion-button class="btn_blanco" mode="ios">Fine dining</ion-button>
  <ion-button class="btn_blanco" mode="ios">Traveling</ion-button>
  <ion-button class="btn_blanco" mode="ios">Romance</ion-button>
  <ion-button class="btn_blanco" mode="ios">Friendship</ion-button>
  <ion-button class="btn_blanco" mode="ios">Fine dining</ion-button>
  <ion-button class="btn_blanco" mode="ios">Friendship</ion-button>
  <ion-button class="btn_blanco" mode="ios">Casual dating</ion-button>
  <ion-button class="btn_blanco" mode="ios">Friendship</ion-button>
  <ion-button class="btn_next" mode="ios">Next</ion-button>
  <ion-button class="btn_skip" mode="ios">Skip step ></ion-button>
</ion-content>
