<!--<ion-header>
  <ion-toolbar>
    <ion-title>new-login</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>

  <h1 class="ion-text-center">Soy...</h1>
  <ion-grid class="grid-pagging">
    <ion-row>
      <ion-col size="6" class="ion-no-padding col-border-right">
        <ion-button class="btn-iguales btn-border-rigt">Un chico</ion-button>
      </ion-col>
      <ion-col size="6" class="ion-no-padding col-border-left">
        <ion-button class="btn-iguales btn-border-left">Una chica</ion-button>
      </ion-col>
      <ion-col size="12" class="ion-no-padding col-border-todo">
        <ion-button class="btn-iguales border-cero">Más opciones</ion-button>
      </ion-col>
      <ion-col size="12" class="ion-no-padding">
        <p class="ion-text-center p-o">o</p>
        <ion-button class="btn-faccebox"><ion-icon name="logo-facebook"></ion-icon> Entra con Facebook</ion-button>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button class="btn-cuenta">¿Ya tienes cuenta?</ion-button>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <p class="color-plomo">No te preocupes, no publicaremos nada en Facebook.</p>
        <p class="color-plomo">Privacidad <span>.</span> Condiciones</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
