<!--<ion-header>
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <img src="assets/img/iconos_Minimize.png" class="img-flecha-menu">
  <ion-label class="label-menu">
    <img src="assets/img/iconos_settings.png" class="img-configure-menu img-margin-right">
    Account settings
  </ion-label>
  <ion-label class="label-menu">
    <img src="assets/img/iconos_Upgrade.png" class="img-configure-menu img-margin-right">
    Upgrade my account
  </ion-label>
  <ion-label class="label-menu">
    <img src="assets/img/iconos_Aboutus.png" class="img-configure-menu img-margin-right">
    About
  </ion-label>
  <div class="div-footer">
    <img src="assets/img/Logoh60.png" class="img-logo-puntopro">
    <p class="p-footer">©2020. Seeking terms.</p>
  </div>
</ion-content>