<!--<ion-header>
  <ion-toolbar>
    <ion-title>register-form-basics</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <h1 class="ion-text-center">The basics</h1>
  <ion-card moda="ios">
    <img src="assets/img/persona.png">
  </ion-card>
  <ion-button class="btn_add" mode="ios">Add you profile picture</ion-button>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-no-padding" style="position: relative;">
        <ion-input placeholder="Nickname" class="ion-text-start input_register padding_input" mode="ios" type="text"></ion-input>
        <div class="icon_circulo">
          <ion-icon name="help-outline" class="icon_interogative"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="12" class="ion-no-padding">
        <ion-input placeholder="Your email" class="ion-text-start input_register padding_igaules" mode="ios" type="eamil"></ion-input>
      </ion-col>
      <ion-col size="12" class="ion-no-padding">
        <ion-input placeholder="Password" class="ion-text-start input_register padding_igaules" mode="ios" type="password"></ion-input>
      </ion-col>
      <ion-col size="12" class="ion-no-padding" style="position: relative;">
        <ion-input placeholder="Country" class="ion-text-start input_register padding_input" mode="ios" type="text"></ion-input>
        <ion-icon name="calendar-outline" class="icon_calendar"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button class="btn_next" mode="ios">Next</ion-button>
  <ion-button class="btn_skip" mode="ios">Skip step ></ion-button>
</ion-content>
