<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-card class="bajar_card">
    <ion-card-content class="ion-text-center">
        <img src="assets/img/Grupo804.png">
        <h1>Create new password</h1>
        <ion-input placeholder="Enter your new password" mode="ios" class="ion-text-start" type="password"></ion-input>
        <ion-input placeholder="Confirm new password" mode="ios" class="ion-text-start" type="password"></ion-input>
        <ion-button mode="ios">Let’s go</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-no-margin">
    <ion-button mode="ios" class="btn_card">I’m new here. Register</ion-button>
  </ion-card>
</ion-content>
