<!--<ion-header>
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <img src="assets/img/iconos_Minimize.png" class="img-flecha-menu">
  <div class="div-avatar">
    <ion-avatar>
      <img src="assets/img/Elipse1.png" class="img-perfil-avatar">
    </ion-avatar>
  </div>
  <h5 class="ion-text-center titulo-nombre">Marco Polo Gonzales Ramirez</h5>
  <h6 class="ion-text-center h6-ciudad">Lima, Peru</h6>
  <ion-label class="label-menu">
    <img src="assets/img/iconos_Profile.png" class="img-persona-menu img-margin-right">
    Edit profile
  </ion-label>
  <ion-label class="label-menu">
    <img src="assets/img/iconos_settings.png" class="img-configure-menu img-margin-right">
    Account settings
  </ion-label>
  <ion-label class="label-menu">
    <img src="assets/img/iconos_favirtos.png" class="img-corazon-menu img-margin-right">
    My favorites
  </ion-label>
  <div class="div-linea-bottom"></div>
  <h6 class="h6-amariilo">Credits left: 43</h6>
  <ion-label class="label-menu">
    <img src="assets/img/iconos_Upgrade.png" class="img-configure-menu img-margin-right">
    Upgrade my account
  </ion-label>
  <ion-label class="label-menu">
    <img src="assets/img/iconos_favirtos.png" class="img-corazon-menu img-margin-right">
    Get more credits
  </ion-label>
  <div class="div-linea-bottom"></div>
  <ion-label class="label-menu">
    <img src="assets/img/iconos_Aboutus.png" class="img-configure-menu img-margin-right">
    About
  </ion-label>
  <ion-label class="label-menu">
    <img src="assets/img/iconos_Logout.png" class="img-corazon-menu img-margin-right">
    Log out
  </ion-label>
</ion-content>
<ion-footer class="ion-no-border" mode="ios">
  <ion-button mode="ios" class="btn-footer btn-footer-right">
    <img src="assets/img/iconos_Magnifying-glass.png" class="img-buscador-footer">
  </ion-button> 
  <ion-button mode="ios" class="btn-footer btn-footer-right">
    <img src="assets/img/iconos_Inbox.png" class="img-chat-footer">
    <ion-badge class="badge-chat" mode="ios">99</ion-badge>
  </ion-button> 
  <ion-button mode="ios" class="btn-footer btn-footer-right">
    <img src="assets/img/iconos_Upgrade.png" class="img-corona-footer">
  </ion-button> 
  <ion-button mode="ios" class="btn-footer btn-footer-right">
    <img src="assets/img/iconos_favirtos.png" class="img-corazon-footer">
  </ion-button> 
  <ion-button mode="ios" class="btn-footer">
    <img src="assets/img/iconos_Profile.png" class="img-persona-footer">
  </ion-button> 
</ion-footer>
