<!--<ion-header>
  <ion-toolbar>
    <ion-title>inbox-message</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content class="ion-text-center">
  <ion-button class="btn-close-messaje"><ion-icon name="close-sharp" class="icon-close"></ion-icon></ion-button>
  <h1>Anna, 30</h1>
  <p class="pcolor-formato">Los Angeles, USA</p>
  <ion-item class="ion-no-padding item-avatar-sytle" lines="none">
    <ion-avatar slot="start">
      <img src="assets/img/Elipse1.png" class="img-perfil">
    </ion-avatar>
    <div class="div-general-top">
      <div class="div-conversacion-una-linea div-anaranjado-conversacion div-radius-primer-mensaje">
        <p class="p-conversacion p-conversacion-blanco ion-no-margin">Hey</p>
        <span class="span-hora span-hora-blanco">10:43am</span>
      </div>
      <div class="div-conversacion-dos-varias-lineas div-anaranjado-conversacion">
        <p class="p-conversacion p-conversacion-blanco ion-no-margin">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        <span class="span-hora span-hora-blanco">10:43am</span>
      </div>
    </div>
  </ion-item>
  <ion-item class="ion-no-padding item-avatar-sytle item-derecha" lines="none">
    <ion-avatar slot="end" style="display: none;">
      <img src="assets/img/Elipse1.png" class="img-perfil">
    </ion-avatar>
    <div class="div-general-top div-padding-left">
      <div class="div-conversacion-una-linea div-uno-linea-derecha fondo-responder div-fondo-cambio">
        <p class="p-conversacion ion-no-margin">Hey</p>
        <span class="span-hora">10:43am</span>
      </div>
      <div class="div-conversacion-dos-varias-lineas div_dos-lineas-top fondo-responder div-fondo-cambio">
        <p class="p-conversacion ion-no-margin">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        <span class="span-hora">10:43am</span>
      </div>
    </div>
  </ion-item>
  <p class="ion-text-center pdescriocion-book">After your send your message 1credit will be charged from your account.</p>
  <img src="assets/img/Imagen-11.png" class="img-llave" style="float: right;">
</ion-content>


<ion-footer mode="ios">
  <ion-card>
    <ion-textarea placeholder="Type your message here" mode="ios" rows="1" cols="1"></ion-textarea>
    <ion-icon name="send"></ion-icon>
  </ion-card>
  <div class="ion-text-center div-blanco-footer">
    Never send money, gift card or banking info.
  </div>
</ion-footer>
