<!--<ion-header>
  <ion-toolbar>
    <ion-title>buy-single-credits</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content class="ion-text-center">
  <img src="assets/img/Grupo804.png" class="img-logo-genral">
  <h1>Get credits</h1>
  <p>Simply subscribe and gain access to our entire platform!</p>
  <p>You have <span>00</span> credits left:</p>
  <ion-card>
    <h5 class="ion-no-margin">20 Credits</h5>
    <p class="p_card ion-no-margin">$ 19.99</p>
  </ion-card>
  <ion-card>
    <h5 class="ion-no-margin">50 Credits</h5>
    <p class="p_card ion-no-margin">$ 44.99</p>
  </ion-card>
  <ion-button mode="ios">Go premium</ion-button>
</ion-content>
