<!--<ion-header>
  <ion-toolbar>
    <ion-title>register-form-photo-validation</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-icon name="close-outline" class="icon_balnco"></ion-icon>
  <ion-card class="ion-no-margin ion-text-center">
    <img src="assets/img/iconos-photo-1.png">
    <p class="p_heavy">Photo validation</p>
    <img src="assets/img/Enmascarar-grupo-1.png">
    <p class="descrion_valida">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
    </p>
    <ion-button mode="ios">Add photo</ion-button>
  </ion-card>
</ion-content>
