<!--<ion-header>
  <ion-toolbar>
    <ion-title>inbox-message</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content class="ion-text-center">
  <ion-button class="btn-close-messaje"><ion-icon name="close-sharp" class="icon-close"></ion-icon></ion-button>
  <h1>Anna, 30</h1>
  <p class="pcolor-formato">Los Angeles, USA</p>
  <div style="display: flex;justify-content: center;">
    <ion-avatar class="img-circle-perfil">
      <img src="assets/img/perfil.jpg">
    </ion-avatar>
  </div>
  <p class="ion-text-center pcolor-let">Let me know you like me</p>
  <ion-button class="btn-img-wiink"><img src="assets/img/iconos_Wink.png" class="img-cara">Wink at Anna</ion-button>
  <p class="ion-text-center pdescriocion-book">After your send your message 1credit will be charged from your account.</p>
  <img src="assets/img/Imagen-11.png" class="img-llave" style="float: right;">
</ion-content>


<ion-footer mode="ios">
  <ion-card>
    <ion-textarea placeholder="Type your message here" mode="ios" rows="1" cols="1"></ion-textarea>
    <ion-icon name="send"></ion-icon>
  </ion-card>
  <div class="ion-text-center div-blanco-footer">
    Never send money, gift card or banking info.
  </div>
</ion-footer>
