<!--<ion-header>
  <ion-toolbar>
    <ion-title>new-ubicacion</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-grid class="grid-pagging">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <h1 class="ion-text-center">¿Cuál es tu ubicación?</h1>
        <p class="ion-text-center p-plomo">Indícanos en donde estás para ver gente en tu área</p>
        <ion-searchbar class="ion-no-padding" mode="ios" type="text" placeholder="Introduce tu ciudad o localidad"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
