<!--<ion-header>
  <ion-toolbar>
    <ion-title>inbox-report-user</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content class="ion-text-center">
  <ion-button class="btn_close">
    <ion-icon name="close-outline" class="icon_close"></ion-icon>
  </ion-button>
  <h1>Report user</h1>
  <p class="ion-text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
  <div class="div_select ion-margin-bottom">
    <ion-select placeholder="Choose the reason for reporting" class="ion-text-start" mode="ios">
      <ion-select-option value="f">Female</ion-select-option>
      <ion-select-option value="m">Male</ion-select-option>
    </ion-select>
    <div class="div_linea"></div>
  </div>
  <ion-textarea placeholder="Please explain what happened…" class="ion-text-start" rows="5"></ion-textarea>
  <ion-button mode="ios" class="btn_rojo">Report user</ion-button>
</ion-content>
