<!--<ion-header>
  <ion-toolbar>
    <ion-title>buy-single-credits</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content class="ion-text-center">
  <img src="assets/img/Grupo804.png" class="img-logo-genral">
  <h1>Fly high</h1>
  <p class="p-negro-medium">Get your profile up to the photo feed and win the sugar babies attention, don’t leave her looking from hundreds of profile.</p>
  <ion-card>
    <div class="div-popular">
      <img src="assets/img/Grupo-593.png" class="img-banda">
      <p class="p-popular">Popular</p>
    </div>
    <h5 class="ion-no-margin">20 Credits</h5>
    <p class="p_card ion-no-margin">$ 19.99</p>
  </ion-card>
  <ion-card>
    <h5 class="ion-no-margin">50 Credits</h5>
    <p class="p_card ion-no-margin">$ 44.99</p>
  </ion-card>
  <ion-card>
    <h5 class="ion-no-margin">50 Credits</h5>
    <p class="p_card ion-no-margin">$ 44.99</p>
  </ion-card>
  <ion-card>
    <h5 class="ion-no-margin">50 Credits</h5>
    <p class="p_card ion-no-margin">$ 44.99</p>
  </ion-card>
  <ion-card>
    <h5 class="ion-no-margin">50 Credits</h5>
    <p class="p_card ion-no-margin">$ 44.99</p>
  </ion-card>
  <p class="p-have-cantidad">You have <span>00</span> credits left:</p>
  <ion-button class="btn_skip" mode="ios">Get more credits ></ion-button>
  <ion-button class="btn-border-upgrade" mode="ios">Upgrade me</ion-button>
</ion-content>
