@font-face{
    font-family: AvenirHeavy;
    src : url('/assets/font/Avenir Heavy.ttf')
}
@font-face{
    font-family: AvenirMedium;
    src : url('/assets/font/Avenir-Medium.ttf')
}
@font-face{
    font-family: Avenirlight;
    src : url('/assets/font/avenirltstd-light.otf')
}
ion-content
{
    --padding-start: 1.25rem;
    --padding-end: 1.25rem;
    --padding-top: 1.25rem;
}
h1
{
    color: #333333;
    font-family: AvenirHeavy;
    margin-bottom: 1.25rem;
}
.btn_next
{
    --background: #77BDF0;
    --color: #ffffff;
    font-family: AvenirHeavy;
    width: 90%;
    margin-left: 5%;
    margin-top: 10.625rem;
    --background-activated: #77BDF0;
    --color-activated: #ffffff;
}
.btn_skip
{
    --color: #555555;
    font-family: AvenirMedium;
    --background: transparent;
    --box-shadow: none;
    --background-activated: transparent;
    --color-activated: #555555;
    width: 30%;
    margin-left: 35%;
    margin-top: 1.875rem;
    margin-bottom: 3.125rem;
    text-decoration: underline;
}
ion-select
{
    border-radius: 6px;
    border: 1px solid #E3E3E3;
    color: #555555;
    font-family: AvenirMedium;
    font-size: 1rem;
    --placeholder-font-weight: 900;
    --placeholder-color: #555555;
    width: 100%;
    --padding-end: 1.5625rem;
    --padding-start: 1.5625rem;
    background-color: #F7F8F7;
}
.btn_add
{
    --color: #555555;
    font-family: AvenirMedium;
    --background: transparent;
    --box-shadow: none;
    --background-activated: transparent;
    --color-activated: #555555;
    width: 30%;
    margin-left: 35%;
}
.card-terms
{
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: none;
    border-radius: 0px;
    margin-bottom: 12px;
    ion-card-header
    {
        ion-card-title
        {
            display: flex;
            align-items: center;
            color: #000000;
            font-family: Avenirlight;
            font-size: 22px;
            .img-corona
            {
                width: 27px;
                height: 27px;
                margin-right: 17px;
            }
        }
    }
    ion-card-content
    {
        color: #555555;
        font-family: AvenirMedium;
        font-size: 18px;
    }
}
@media (min-width: 411px)
{
  ion-content
  {
    --padding-start: 1.875rem;
    --padding-end: 1.875rem;
  }
  .btn_next
  {
    margin-top: 15.625rem;
  }
}
@media (min-width: 480px)
{
  ion-content
  {
    --padding-start: 2.5rem;
    --padding-end: 2.5rem;
    --padding-top: 3.125rem;
  }
  .btn_next
  {
    margin-top: 18.75rem;
  }
}
@media (min-width: 640px)
{
  ion-content
  {
    --padding-start: 7.5rem;
    --padding-end: 7.5rem;
  }
}
@media (min-width: 768px)
{
  ion-content
  {
    --padding-start: 12.5rem;
    --padding-end: 12.5rem;
    --padding-top: 6.25rem;
  }
}
@media (min-width: 1024px)
{
  ion-content
  {
    --padding-start: 18.75rem;
    --padding-end: 18.75rem;
    --padding-top: 6.25rem;
  }
}