<!--<ion-header>
  <ion-toolbar>
    <ion-title>terms-of-use</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <h1 class="ion-text-center">Terms of use</h1>
  <ion-select placeholder="Select One">
    <ion-select-option value="f">Female</ion-select-option>
    <ion-select-option value="m">Male</ion-select-option>
  </ion-select>
  <ion-card class="card-terms">
    <ion-card-header>
      <ion-card-title><img src="assets/img/iconos_Upgrade.png" class="img-corona">This is a title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet
    </ion-card-content>
  </ion-card>
  <ion-card class="card-terms">
    <ion-card-header>
      <ion-card-title><img src="assets/img/iconos_Upgrade.png" class="img-corona">This is a title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet
    </ion-card-content>
  </ion-card>
  <ion-button class="btn_skip" mode="ios"> < Go back</ion-button>
</ion-content>
