<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-card class="bajar_card">
    <ion-card-content class="ion-text-center">
        <img src="assets/img/Grupo804.png" class="img-logo-genral">
        <h1>Log in</h1>
        <ion-input placeholder="User name or email" mode="ios" class="ion-text-start" type="email"></ion-input>
        <ion-input placeholder="Your password" mode="ios" class="ion-text-start" type="password"></ion-input>
        <p class="ion-texto-center quitar_top">Forgot your password? <span><u>Get a new one.</u></span></p>
        <div class="div_check">
          <ion-checkbox></ion-checkbox>
          <ion-label mode="ios">I agree to the Terms & <u>Privacy Policy.</u></ion-label>
        </div>
        <p>
          Promoting illegal commercial activities (such as prostitution) is prohibited. If you are an ESCORT, DO NOT use this website.
        </p>
        <ion-button mode="ios">Let’s go</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-no-margin">
    <ion-button mode="ios" class="btn_card">I’m new here. Register</ion-button>
  </ion-card>
</ion-content>
