<!--<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-card class="card-cabezera">
    <div class="div-flex">
      <img src="assets/img/icono-flecha-circle.png" class="img-circle">
      <ion-label class="label-titulo">Don’t seek, find.</ion-label>
      <img src="assets/img/icono-flecha.png" class="img-iguales img-flore">
      <img src="assets/img/iconos_Filtrar.png" class="img-iguales img-cuadrado">
    </div>
    <div class="div-botones">
      <ion-button mode="ios" class="btn-active btn-rigth ">Show all</ion-button>
      <ion-button mode="ios" class="btn-div btn-rigth">Online now</ion-button>
      <ion-button mode="ios" class="btn-div btn-rigth">Newest</ion-button>
      <ion-button mode="ios" class="btn-div">Closest</ion-button>
    </div>
  </ion-card>
  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide>
      <ion-card class="card-slider">
        <img src="assets/img/Rectangulo16895.png" class="img-slider">
        <div class="div-circulo-activo"></div>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="card-slider">
        <img src="assets/img/Rectangulo16895.png" class="img-slider">
        <div class="div-circulo-activo"></div>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="card-amarillo">
        <img src="assets/img/corona.PNG" class="img-slider">
        <h6 class="h6-blanco">Get girls attention,</h6>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="card-slider">
        <img src="assets/img/Rectangulo16895.png" class="img-slider">
        <div class="div-circulo-activo"></div>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="card-amarillo">
        <img src="assets/img/corana-amarrillo.PNG" class="img-slider">
        <h6 class="h6-blanco">Get girls attention, put your photo right up here.</h6>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-list class="div-list-card">
    <ion-card class="card-perfil">
      <ion-avatar class="avatar-img">
        <img src="assets/img/Rectangulo16895.png">
        <div class="div-sombra">
          <p class="p-nombre">Nombre de us…, 27</p>
          <ion-item class="item-badge" lines="none">
            <ion-label class="label-miles">15 miles</ion-label>
            <ion-badge slot="end" mode="ios" class="badge-style">
              <ion-icon name="camera" class="icon-camara"></ion-icon>
              22
            </ion-badge>
          </ion-item>
        </div>
      </ion-avatar>
      <ion-item lines="none" class="item-blanco">
        <ion-button class="btn-iguales-tab btn-border-right">
          <img src="assets/img/iconos_favirtos.png" class="img-desactivo img-widht-igules">
          <img src="assets/img/iconos_Heart filled.png" class="img-activo img-widht-igules">
        </ion-button>
        <ion-button class="btn-iguales-tab btn-border-right">
          <img src="assets/img/iconos_Like.png" class="img-desactivo img-widht-igules">
          <img src="assets/img/iconos_Liked.png" class="img-activo img-widht-igules">
        </ion-button>
        <ion-button class="btn-iguales-tab btn-border-right">
          <img src="assets/img/iconos_Inbox.png" class="img-widht-igules">
        </ion-button>
        <ion-button class="btn-iguales-tab">
          <img src="assets/img/iconos_Minimize.png" class="img-right img-width-flecha">
        </ion-button>
      </ion-item>
    </ion-card>
    <ion-card class="card-perfil">
      <ion-avatar class="avatar-img">
        <img src="assets/img/Rectangulo16895.png">
        <div class="div-sombra">
          <p class="p-nombre">Nombre de us…, 27</p>
          <ion-item class="item-badge" lines="none">
            <ion-label class="label-miles">15 miles</ion-label>
            <ion-badge slot="end" mode="ios" class="badge-style">
              <ion-icon name="camera" class="icon-camara"></ion-icon>
              22
            </ion-badge>
          </ion-item>
        </div>
      </ion-avatar>
      <ion-item lines="none" class="item-blanco">
        <ion-button class="btn-iguales-tab btn-border-right">
          <img src="assets/img/iconos_favirtos.png" class="img-desactivo img-widht-igules">
          <img src="assets/img/iconos_Heart filled.png" class="img-activo img-widht-igules">
        </ion-button>
        <ion-button class="btn-iguales-tab btn-border-right">
          <img src="assets/img/iconos_Like.png" class="img-desactivo img-widht-igules">
          <img src="assets/img/iconos_Liked.png" class="img-activo img-widht-igules">
        </ion-button>
        <ion-button class="btn-iguales-tab btn-border-right">
          <img src="assets/img/iconos_Inbox.png" class="img-widht-igules">
        </ion-button>
        <ion-button class="btn-iguales-tab">
          <img src="assets/img/iconos_Minimize.png" class="img-right img-width-flecha">
        </ion-button>
      </ion-item>
    </ion-card>
    <ion-card class="card-perfil">
      <ion-avatar class="avatar-img">
        <img src="assets/img/Rectangulo16895.png">
        <div class="div-sombra">
          <p class="p-nombre">Nombre de us…, 27</p>
          <ion-item class="item-badge" lines="none">
            <ion-label class="label-miles">15 miles</ion-label>
            <ion-badge slot="end" mode="ios" class="badge-style">
              <ion-icon name="camera" class="icon-camara"></ion-icon>
              22
            </ion-badge>
          </ion-item>
        </div>
      </ion-avatar>
      <ion-item lines="none" class="item-blanco">
        <ion-button class="btn-iguales-tab btn-border-right">
          <img src="assets/img/iconos_favirtos.png" class="img-desactivo img-widht-igules">
          <img src="assets/img/iconos_Heart filled.png" class="img-activo img-widht-igules">
        </ion-button>
        <ion-button class="btn-iguales-tab btn-border-right">
          <img src="assets/img/iconos_Like.png" class="img-desactivo img-widht-igules">
          <img src="assets/img/iconos_Liked.png" class="img-activo img-widht-igules">
        </ion-button>
        <ion-button class="btn-iguales-tab btn-border-right">
          <img src="assets/img/iconos_Inbox.png" class="img-widht-igules">
        </ion-button>
        <ion-button class="btn-iguales-tab">
          <img src="assets/img/iconos_Minimize.png" class="img-right img-width-flecha">
        </ion-button>
      </ion-item>
    </ion-card>
    <ion-card class="card-perfil">
      <ion-avatar class="avatar-img">
        <img src="assets/img/Rectangulo16895.png">
        <div class="div-sombra">
          <p class="p-nombre">Nombre de us…, 27</p>
          <ion-item class="item-badge" lines="none">
            <ion-label class="label-miles">15 miles</ion-label>
            <ion-badge slot="end" mode="ios" class="badge-style">
              <ion-icon name="camera" class="icon-camara"></ion-icon>
              22
            </ion-badge>
          </ion-item>
        </div>
      </ion-avatar>
      <ion-item lines="none" class="item-blanco">
        <ion-button class="btn-iguales-tab btn-border-right">
          <img src="assets/img/iconos_favirtos.png" class="img-desactivo img-widht-igules">
          <img src="assets/img/iconos_Heart filled.png" class="img-activo img-widht-igules">
        </ion-button>
        <ion-button class="btn-iguales-tab btn-border-right">
          <img src="assets/img/iconos_Like.png" class="img-desactivo img-widht-igules">
          <img src="assets/img/iconos_Liked.png" class="img-activo img-widht-igules">
        </ion-button>
        <ion-button class="btn-iguales-tab btn-border-right">
          <img src="assets/img/iconos_Inbox.png" class="img-widht-igules">
        </ion-button>
        <ion-button class="btn-iguales-tab">
          <img src="assets/img/iconos_Minimize.png" class="img-right img-width-flecha">
        </ion-button>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
<ion-footer class="ion-no-border" mode="ios">
  <ion-button mode="ios" class="btn-footer btn-footer-right">
    <img src="assets/img/iconos_Magnifying-glass.png" class="img-buscador-footer">
  </ion-button> 
  <ion-button mode="ios" class="btn-footer btn-footer-right">
    <img src="assets/img/iconos_Inbox.png" class="img-chat-footer">
    <ion-badge class="badge-chat" mode="ios">99</ion-badge>
  </ion-button> 
  <ion-button mode="ios" class="btn-footer btn-footer-right">
    <img src="assets/img/iconos_Upgrade.png" class="img-corona-footer">
  </ion-button> 
  <ion-button mode="ios" class="btn-footer btn-footer-right">
    <img src="assets/img/iconos_favirtos.png" class="img-corazon-footer">
  </ion-button> 
  <ion-button mode="ios" class="btn-footer">
    <img src="assets/img/iconos_Profile.png" class="img-persona-footer">
  </ion-button> 
</ion-footer>
