<!--<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-icon name="close-outline" class="icon_balnco"></ion-icon>
  <ion-card class="ion-text-center ion-no-margin">
    <img src="assets/img/Grupo804.png" class="img-logo-bottom">
    <ion-grid>
      <ion-row>
        <!--<ion-col size="12" class="ion-no-padding" style="display: flex;flex-wrap: wrap;align-items: center;margin-bottom: 0.5rem;">
          <ion-button mode="ios" class="btn-register">
            <img src="assets/img/iconos_Female.png" class="img-iguales-circle img-desactivo">
            <img src="assets/img/iconos_Female_white.png" class="img-activo">
          </ion-button>
          <ion-button mode="ios" class="btn-register">
            <img src="assets/img/iconos_Male.png" class="img-iguales-circle img-desactivo">
            <img src="assets/img/iconos_Male_white.png" class="img-iguales-circle img-activo">
          </ion-button>
          <ion-button mode="ios" class="btn-register">
            <img src="assets/img/iconos_Trans.png" class="img-iguales-circle img-desactivo">
            <img src="assets/img/iconos_Trans_white copia.png" class="img-iguales-circle img-activo">
          </ion-button>
          <ion-button mode="ios" class="btn-register">
            <img src="assets/img/iconos-16.png" class="img-iguales-circle img-desactivo">
            <img src="assets/img/iconos Genero indefinido_white.png" class="img-iguales-circle img-activo">
          </ion-button>
        </ion-col>-->
        <ion-col size="12" class="ion-no-padding">
          <ion-item lines="none" class="item-input">
            <ion-select placeholder="Gender" class="select-register" mode="ios">
              <ion-select-option value="f">Female</ion-select-option>
              <ion-select-option value="m">Male</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="12" class="ion-no-padding">
          <ion-item lines="none" class="item-input">
            <ion-select placeholder="What kind of relationships I seek" class="select-register" mode="ios" multiple="true">
              <ion-select-option value="f">Female</ion-select-option>
              <ion-select-option value="m">Male</ion-select-option>
              <ion-select-option value="famale">Female</ion-select-option>
              <ion-select-option value="male">Male</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="12" class="ion-no-padding">
          <ion-item lines="none" style="position: relative;" class="item-input">
            <ion-input placeholder="Nickname" class="ion-text-start input_register padding_input" mode="ios" type="text"></ion-input>
            <div class="icon_circulo">
              <ion-icon name="help-outline" class="icon_interogative"></ion-icon>
            </div>
          </ion-item>
        </ion-col>
        <ion-col size="12" class="ion-no-padding">
          <ion-item lines="none" class="item-input">
            <ion-input placeholder="Your email" class="ion-text-start input_register padding_igaules" mode="ios" type="eamil"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12" class="ion-no-padding">
          <ion-item lines="none" class="item-input">
            <ion-input placeholder="Your email" class="ion-text-start input_register padding_igaules" mode="ios" type="eamil"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12" class="ion-no-padding">
          <ion-item lines="none" class="item-input">
            <ion-input placeholder="Password" class="ion-text-start input_register padding_igaules" mode="ios" type="password"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12" class="ion-no-padding">
          <ion-item lines="none" class="item-input">
            <ion-input placeholder="Country" class="ion-text-start input_register padding_igaules" mode="ios" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12" class="ion-no-padding">
          <ion-item lines="none" class="item-input">
            <ion-label class="label-check-register">I agree to the Terms & <u>Privacy Policy.</u></ion-label>
            <ion-checkbox slot="start" class="chec-register"></ion-checkbox>
          </ion-item>
          <p class="ion-text-center p-plomo-register">Promoting illegal commercial activities (such as prostitution) is prohibited. If you are an ESCORT, DO NOT use this website.</p>
        </ion-col>
        <ion-col size="12">
          <ion-button mode="ios">Register now</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
